

<%=link_to " #{@question.body}", new_question_answer_path(@question, @answer) %></p> %>
  <div class="answer-form-title">




  <% if admin_signed_in? %>
  <div>
    <%= link_to 'Back', survey_questions_path %>
  </div>
  <% end %>
