
<h1><%= @question.body%></h1>
<div class="answer-headings">
  <div class="row">
    <div class="small-9 columns" ><h3 class="answer-title">Answers</h3>
    </div>
    <div class="small-1 small-centered-columns" >
      <h3 class="rating-title">Rating</h3>
    </div>
  </div>
</div>

<% @answers.each do |answer| %>
  <%unless answer.answer == nil %>
    <div class="answers">
      <div class="row">
        <div class="small-10 columns" id="text-answer"><%= "#{answer.answer}"%>
        </div>
        <div class="small-2 small-centered-columns" id= "rating-answer">
          <div class="centered"><%= "#{answer.rating_answer}"%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
