
<div class="surveys">
  <% if !@surveys.empty? %>
    <% @surveys.each do |survey| %>
      <%= link_to survey_path(survey) do %>
        <div class="survey">
          <p class="survey-title">
            <%= survey.title %>
          </p>
          <% if admin_signed_in %>
            <div class="links">
              <p>
                <%= link_to "Edit", edit_survey_path(@survey) %>
                <%end%>
                <%end%>
                <%end%>
                <%end%>
