
.surveys

  - if !@surveys.empty?
    - @surveys.each do |survey|
      = link_to survey_path(survey) do
        .survey
        -if survey.publish == true || admin_signed_in? 
          %p.survey-title= survey.title
          %p.survey-group= survey.group

    %hr.line

  - else
    %h2 No results found
