<html class="no-js" lang="en">

    <body>
          <div class="surveys">
            <% if !@surveys.nil? %>
              <% @surveys.each do |survey| %>
                <%= link_to survey_path(survey) do %>
                <div class="row small-up-2 medium-up-3 large-up-4">
                    <div class="survey">
                    <% if survey.publish == true || admin_signed_in? %>
                      <p class="survey-title"></p>
                        <%= link_to survey.title, survey_path(survey), class: 'button success radius small' %>
                            <%= "For: #{survey.group}" %>
                          </div>

                    </div>
                     <% end %>
                <% end %>
              <% end %>

                <% else %>
                  <h2>No results found</h2>
            <% end %>

        </div>
        <script>
          $(document).foundation();
        </script>
    </body>
</html>
