%p= "Added by #{@survey.admin.name}"

- if admin_signed_in?

  .links
    %p= link_to "Edit Survey", edit_survey_path(@survey)

    %p= link_to "Delete Survey", @survey, method: :delete

-# .questions-form-div
-#   = render 'questions/form'
