.rating-header {
  width: 250px;
  height: 10px;
  line-height: 100px;
  text-align: right;
}

.text-header {
  width: 250px;
  height: 0px;
  line-height: 100px;
  text-align: left;
}

.rating-answer {
  width: 250px;
  height: 50px;
  line-height: 100px;
  text-align: right;
}
