// .rating-header {
//   width: 250px;
//   height: 10px;
//   line-height: 100px;
//   text-align: right;
// }
//
// .text-header {
//   width: 250px;
//   height: 0px;
//   line-height: 100px;
//   text-align: left;
// }
//

.small-12 {
  display:flex;
}

.rating {
  float: right;
}
.ul {
margin:0;
padding:0 0 0 15px;
}

.column{
    float: left;
    margin: 0 20px 0 0;
}
