
form#new_answer {
  width: 600px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 100px;
}

.row {
  display: flex;
}

.column {

  padding: 1em;
  border: solid;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column.small-centered {
margin-left: auto;
margin-right: auto;
float: none
}

.rating-title {
  position: absolute;
  left: 900px;
}

.answer-headings {
  display: inline-flex;
  position: relative;
}

.answers {
  margin-right: 100px;
}

.small-12 {
  display:flex;
}

#text-answer {
  border: solid;
  word-wrap: break-word;

}


#rating-answer {
  position: relative;
  border: solid;
  border-left: none;
}
