.question-body {
  font-size: larger;
  font-family: -webkit-body;
  position: relative;
  margin-left: 400px;
  margin-top: -140px;
  margin-bottom: 50px;

}

.questions {
  position: absolute;

}

.add-button {
  position: inherit;
  margin-left: 200px;
}

.question-index-header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  top: 100px;
  right: 80px;
}

.question-index-group {
  position: relative;
  white-space: nowrap;
  text-align: center;
  top: 100px;
  right: 80px;
  margin-bottom: 30%;
}

.question-index-top {
  margin:10%
}

.tiny-button {
    width:150px;
    border-width: thick;
}

.button-round {
  margin-right: 347px;
  color: black;
  background-color: $beige;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: large;
  font-family: serif;
  border-radius: 10px;
  border-width: 2px;
  border-color: $black;
  width: 390px;
}

#survey-question-index {
  position: relative;
  right: 100px;
}

#radio-row {
  display: flex;
  position: relative;
  right: 260px;
}

.form-row {
  margin-right: 10px;
  margin-left: 10px;
}

.question.button.success.radius.small {

  color: black;
  background-color: $darkseagreen;
  white-space: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: x-large;
  font-family: serif;
  border-radius: 10px;
  border-width: 2px;
  border-color: $blanchedalmond;
  width: 400px;
  height: 150px;

}

.content {
  margin-left: 10%;

}
