.question-body {
    font-size: larger;
    font-family: -webkit-body;
  }

  .button-round {
    margin-right: 347px;
    color: black;
    background-color: aliceblue;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: large;
    font-family: serif;
    border-radius: 10px;
    border-width: 2px;
    border-color: blanchedalmond;
  }


.content {
  margin-left: 10px

}
