@import "colors";
@import "foundation_and_overrides";



.button.success.radius.small {

  color: black;
  background-color: darkseagreen;
  white-space: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: x-large;
  font-family: serif;
  border-radius: 10px;
  border-width: 2px;
  border-color: blanchedalmond;
  width: 400px;
  

}

.survey-group {
  margin-top: 30px
}

.survey-button-and-group {
  display: flex;
  margin-top: 50px
}

.content {
  margin-left: inherit;
    margin-right: inherit;
}
