@import "colors";
@import "foundation_and_overrides";



.button.success.radius.small {
  color: black;
  background-color: $darkseagreen;
  white-space: normal;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: x-large;
  font-family: serif;
  border-radius: 10px;
  border-width: 2px;
  border-color: $blanchedalmond;
  width: 400px;

}

.surveys {
  margin-bottom: 50px;
  margin-top: 50px;
  position: absolute;
}

.flash {
  position: absolute;
  left: 350px;
  margin: auto;
  z-index: 1000;
  color: $green;
  font-size: 30px;
  font-style: oblique;
  top: 10%;

}

.survey-group {
  margin-bottom: 20px;
  white-space: nowrap;
}

.survey-button-and-group {
  display: flex;
  margin-top: 50px
}

.survey-index {
  margin: 10%;
}
